$cubic_bezier: cubic-bezier(.7,0,.3,1);


$background-color: #ffffff;
$accent-color: #2f9aac;
$secondary-color: #999999;
$text-color: #000000;
$error-color: #80262c;

input {
    transition: all .4s;
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: 1px solid $secondary-color;
    outline: none;
    font-size: 16px;
    padding: 20px;
    color: $text-color;
    border-radius: 10px;
    &::-webkit-input-placeholder{
        color: $secondary-color;
    }
    &:focus {
        border: 1px solid $accent-color;
    }
}

.oval-button {
    transition: all .2s;
    width: 100%;
    height: 48px;
    border: 1px solid $accent-color;
    display: flex;
    border-radius: 12px;
    color: $accent-color;
    cursor: pointer;
    p {
        margin: auto;
    }
}

@mixin rotate($degrees) {
    -moz-transform:rotate($degrees);
    -webkit-transform:rotate($degrees);
    -o-transform:rotate($degrees);
    -ms-transform:rotate($degrees);
}

@mixin waterfall($count, $transitionStep, $transitionName) {
    @for $i from 1 through $count {
        :nth-child(#{$i}).#{$transitionName}-enter-active {
            $transitionDelay: $transitionStep * $i;
            transition-delay: #{$transitionDelay}s;
        }
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    color: $secondary-color;
    font-size: 12px;
}

.shadow-block {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.select-tab {
    margin: 20px auto;
    height: 40px;
    width: 100%;
    max-width: 310px;
    background-color: transparent;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
    user-select: none;

    &:active, &:focus, &:hover {
        outline: none;
        outline: 0;
        outline-offset: 0;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    .select-tab__button {
        width: 50%;
        display: flex;
        border: 1px solid $secondary-color;
        transition: .1s;
        p {
            margin: auto;
            color: $secondary-color
        }
    }

    .select-tab__left {
        border-radius: 20px 0 0 20px;
        border-right-color: transparent;
    }

    .select-tab__right {
        border-radius: 0 20px 20px 0;
        border-left-color: transparent;
    }

    .select-tab__active, .router-link-active {
        border: 1px solid $accent-color;
        p {
            color: $accent-color !important;
        }
    }
}

.table {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px black solid;
    border-radius: 5px;

    .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
        h1 {
            font-size: 22px;
            font-family: 'Proxima Nova Semibold';
        }
    }

    .table__row {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .table__cell {
            width: 50%;
            padding-bottom: 10px;

            h1 {
                font-size: 20px;
                font-family: 'Proxima Nova Semibold';
            }
            h5 {
                font-family: 'Proxima Nova Light';
            }
            p {
                font-size: 16px;
                font-family: 'Proxima Nova Light';
            }

            &:nth-child(even) {
                > * {
                    text-align: right;
                }
                border-left: 1px black solid;
            }
        }
    }
}


@media print {
    .hidden-print {
        display: none !important;
    }
}